.login-page {
    background: url(/backgrounds/login-bg.png);
    background-size: cover;
    background-position: center;
    background-color: #1C1F30;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    
    .global-header {
        background-color: transparent !important;
        box-shadow: none;
    }

    .login-container {
        position: relative;
        z-index: 1;

        .login {
            @include dynamic-padding(70);
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;

            .title {
                color: $black;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 14px;
            }

            .sub-text {
                color: #5A677E;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 44px;
            }

            .login-form {
                .form-control {
                    margin-bottom: 50px;
                }
            }

            .forgot-password-text {
                color: $black;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .golden-border-left,
        .golden-border-right {
            width: 84%;
            height: 84%;
            flex-shrink: 0;
            background: $golden;
            position: absolute;
        }

        .golden-border-left {
            left: 0;
            top: -10px;
        }

        .golden-border-right {
            right: 0;
            bottom: -10px;
            z-index: -1;
        }

    }

    .collapse {
        .navbar-collapse {
            column-gap: 20px;

            .nav-text {
                color: $white;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }

            .global-button {
                width: auto;
                padding: 16px 30px;
            }
        }
    }

    // 1366
    @media (min-width: $small-min) and (max-width: $small-max) {
        .login-container {    
            .login {
                .title {
                    font-size: 32px;
                }
    
                .sub-text {
                    margin-bottom: 26px;
                }
    
                .login-form {
                    .form-control {
                        margin-bottom: 26px;
                    }

                    .golden {
                        padding: 12px 60px;
                    }
                }
    
                .forgot-password-text {
                    font-size: 16px;
                }
            }    
        }

        .collapse {
            .navbar-collapse {    
                .global-button {
                    padding: 12px 40px;
                }
            }
        }
    }

    // 1280
    @media (min-width: $laptop-min) and (max-width: $laptop-max) {
        .login-container {    
            .login {
                .title {
                    font-size: 28px;
                }
    
                .sub-text {
                    margin-bottom: 20px;
                }
    
                .login-form {
                    .form-control {
                        margin-bottom: 26px;
                    }
                }
    
                .forgot-password-text {
                    font-size: 16px;
                }
            }    
        }
    }

    // Tablet
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        height: 100vh;
    }

    // Mobile
    @media (min-width: $mobile-min) and (max-width: $mobile-max) {
        padding: 0 20px;

        .login-container {
            .login {
                padding: 20px;

                .title {
                    font-size: 26px;
                }

                .global-button {
                    &.golden {
                        padding: 20px 30px;
                    }
                }
            }
        }
    }
}