.global-header {
  padding: 20px 0;
  box-shadow: 0px 4px 50px 0px rgba(229, 231, 232, 0.80);
  z-index: 99;

  .nav-logo {
    position: relative;
    width: 193px;
    height: 40px;


    img {
      object-position: left;
    }
  }

  .nav-list{
    display: inline-block;
    
    
        }
        .nav-item{
          font-family:$font-family;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        text-align: right;
        text-decoration: none;
        margin-left: 30px;
        color: #000;
        
        }

        .tab-golden{
          color: #CFA935;
          border-bottom: 5px solid #CFA935;
          padding-bottom: 27px;
          border-radius: 3px; /* Curved downwards */
        }
    

  .navbar-collapse {
    column-gap: 20px;

    .icons-container{
      display:flex;
      flex-direction: row;
    }


    .logout {
      position: relative;
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin-left: 10px;

      img {
        object-position: right;
      }
    }


    .profile {
      .dropdown-toggle {

        &::after {
          display: none;
        }

        .picture {
          border-radius: 10px;
          background: #F3F3F3;
          padding: 5px 7px;
          display: flex;
          align-items: center;
          column-gap: 10px;

          span {
            color: #5A677E;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            display: inline-block;
            text-transform: uppercase;
            background-color: $white;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            text-align: center;
          }

          .dropdown-arrow {
            position: relative;
            width: 18px;
            height: 18px;
          }
        }
      }

      .dropdown-menu {
        padding: 0;
        border: none;

        .user-info {
          padding: 18px 20px;
          .divider {

            .info {
              position: relative;
              width: 236px;
              padding: 10px 0;
              border-bottom: 1px solid #D5DDEA;
              column-gap: 14px;

              .icon {
                padding: 6px 8px 2px;
                border-radius: 6px;
                background: #EEEEF0;
              }

              span {
                display: block;

                &.label {
                  color: #5A677E;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  margin-bottom: 6px;
                }

                &.data {
                  color: #000;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    .nav-logo {
      width: 156px;
      height: 32px;
    }

    .navbar-collapse {
      .profile {
        .dropdown-toggle {  
          .picture {
            column-gap: 4px;
            padding: 8px;
  
            span {
              font-size: 12px;
              line-height: 30px;
              width: 30px;
              height: 30px;
            }
  
            .dropdown-arrow {
              position: relative;
              width: 18px;
              height: 18px;
            }
          }
        }

        .dropdown-menu {
          .user-info {
            display: block;  
            padding: 16px;
            
            .divider {
              &:first-child {  
                .info {
                  &:first-child {
                    &::after {
                      display: none;
                    }
                  }

                  &:last-child {
                    &::after {
                      display: none;
                    }
                  }
                }
              }

              &:last-child {    
                margin-left: 0;
              }

              .info {
                width: 100%;

                &:first-child {
                  padding: 10px 0;
                  border-bottom: 1px solid #D5DDEA;
                }

                &:last-child {
                  padding: 10px 0;
                  border-bottom: 1px solid #D5DDEA;
                }
              }
            }
          }
        }
      }
    }
  }
}